name: english_learn_speaking
description: "A new Flutter project."
publish_to: "none" # Remove this line if you wish to publish to pub.dev
repository: https://github.com/ThanCoder/english_learn_speaking_app.git
version: 1.0.0+1

environment:
  sdk: ^3.9.2
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  than_pkg: ^5.0.0
  t_widgets: ^2.1.0
  t_client: ^0.2.0
  flutter_markdown: ^0.7.7+1
  t_html_parser: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  change_app_package_name: ^1.5.0
  # dart run change_app_package_name:main [com.new.package.name]
  flutter_launcher_icons: ^0.14.4
  # dart run flutter_launcher_icons

# dev lib
flutter_launcher_icons:
  android: "launcher_icon"
  image_path: "assets/logo.webp"

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
